
body {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    width: 100%;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33%;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: white;
    padding: 100px 0px;
}

img {
    max-height: 500px;
    width: auto;
    max-width: 100%;
}

.info-contenuto {
    text-align: center;
}

.info-contenuto .titolo {
    display: inline-block;
    font-size: 25px;
    background-color: wheat;
    width: 100%;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.trama {
    font-size: 17px;
    text-align: center;
    width: 100%;
}

.watch-info {
    font-size: 17px;

}

@media screen and (min-width:768px) {
    .trama {
        width: 50%;
        margin-left: 25%;
    }
}