body {
    margin: 0;
    padding: 0;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    width: 100%;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    padding: 100px 0px;
}

img {
    position: relative;
    max-height: 500px;
    width: auto;
    max-width: 100%;
}

.info-contenuto {
    text-align: center;
}

.info-contenuto .titolo {
    display: inline-block;
    font-size: 25px;
    background-color: wheat;
    width: 100%;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.trama {
    font-size: 17px;
    text-align: center;
    width: 100%;
}

.watch-info {
    font-size: 17px;

}

.aggiungi-alla-home {
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.aggiungi-alla-home .overlay-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0;    
    transition: .3s ease;
}

.aggiungi-alla-home:hover .overlay-btn {
    opacity: 1;
}

@media screen and (min-width:768px) {
    .trama {
        width: 50%;
        margin-left: 25%;
    }
}