
body {
    margin: 0;
    padding: 0;
}

.nav_bar {
    display:flex;
    width: 100%;
    height: 110px;
    background-color: #292929;
    overflow: hidden;
    top: 0;
    align-items: center;
    align-content: stretch;
}
  
/* Style the links inside the navigation bar */
.nav_bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 3% 3%;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.nav_bar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.nav_bar a.active {
  background-color: #04AA6D;
  color: white;
}

.nav_bar a i{
    width: 100%;
    margin-right: 1%;
    color: 'white'
}

.nav_bar > img{ 
    padding: 2%;
    width: 50px;
    height: 60px;
}

.watchtime > p {
    display: inline-block;
    background-color: black;
    color:wheat;
    padding: 20px 0;
    border-radius: 5px;
    width: 30%;
}

.watchtime {
    text-align: center;
    width: 100%;
    background-color: rgb(145, 0, 0);
}

.scroller {
    text-align: center;
    border-color: white;
    background-color: black;
}

.scroller > h2 {
    margin-top: 0;
    background-color: wheat;
    display: block;
    text-align: center;
}

.img-container {
    padding-top: 10px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: hidden;
}

.scroller a:hover {
    transform: scale(1.02);
    transition: 0.3s;
} 

.img-container::-webkit-scrollbar {
    display: none;
}

.img-container a {
    position: relative;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.img-container img {
    background-color: gray;
    height: 400px;
    width: 100%;
}

#add-content {
    width: 275px;
    height: 400px;
}

.content-title {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
}

.notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    border-radius: 50%;
    background: green;
    color: white;
}