* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header > nav {
    background-color: rgb(145, 0, 0);
    color: white;
    text-align: center;
    padding: 2% 0;
    width: 100%;
    /*perchè non funzia?*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.watchtime > p {
    display: inline-block;
    background-color: black;
    color:wheat;
    padding: 20px 0;
    border-radius: 5px;
    width: 30%;
}

.watchtime {
    text-align: center;
    width: 100%;
    background-color: rgb(71, 0, 0);
}

.scroller {
    text-align: center;
    border-top: solid;
    border-color: white;
    background-color: black;
}

.scroller > h2 {
    background-color: wheat;
    display: block;
    text-align: center;
}

.img-container {
    padding-top: 10px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: hidden;
}

.scroller a:hover {
    transform: scale(1.02);
    transition: 0.3s;
} 

.img-container::-webkit-scrollbar {
    display: none;
}

.img-container a {
    position: relative;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.img-container img {
    background-color: gray;
    height: 400px;
    width: 100%;
}

#add-content {
    width: 275px;
    height: 400px;
}

.content-title {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
}

.notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    border-radius: 50%;
    background: green;
    color: white;
}