/* stile assegnato a tutti gli elementi del documento */
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* stile della sidebar */
.sidebar{
    position: fixed !important;
    left: 0;
    width: 14%;
    height: 100%;
    background-color: #062738;
    min-width: 160px;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: rgb(41, 96, 96);
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 8%;
    box-sizing: border-box;
    border-top: 1px solid rgba(red, green, blue, .1);
    border-bottom: 1px solid black;
    transition: .5s;
}
.sidebar div{
    padding-top:17%;
    height: 10%;
    width: 100%;
    align-items: center;
    background-color: #062738;
    text-align: center;

}
.sidebar button{
    height: 40%;
    width: 60%;
}

ul li:hover a{
    padding-left: 10%;
}
.sidebar ul a i{
    margin-right: 16px;
}

/* stile area centrale con titolo, immagine e descrizione serie */
div.serie_info{
    text-align: center;
}

div.serie_info > div{
    padding-top: 2%;
}

div.serie_title{
    text-align: center;
}

div.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

div #center_image{
    max-width: 25%;
    max-height: 40%;
}

div.serie_description{
    width: 100%;
}

div.serie_description > p{
    text-align: center;
    width: 50%;
    margin: auto;
}

/* stile della aside di destra dedicata all'opzione per ricevere notifiche */
aside.right_aside{
    text-align: right;
}

div.notification_check{
    padding-top: 3%;
    padding-right: 7%;
    padding-bottom: 3%;
    text-align: right;

}
div.notification_check > label{
    font-size: 20px;
}

/* stile di tutta la sezione di main */
main{
    display: flex;
    padding-bottom: 3%;
    padding-left: 16%;
    flex-wrap: wrap;
}

/* stile singolo articolo */
main > article {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

main > article> section > div > img {
    max-width: 30%;
    max-height: 30%;
}

main > article> section > p {
    padding-top: 1%;
    font-size: 20px;
}

img#article_image{
    max-width: 30%;
    max-height: 30%;
}

main > article > header > div > img {
    max-width: 10%;
    max-height: 10%;
}

.profile_info{
    display: flex;
    align-items: center;
}

.profile_info > p {
    padding-left: 5%;
}

.profile_info > p.user_name{
    font-size: 20px;
    font-weight: 500;
    font-family: Copperplate, Papyrus, fantasy;
}

.profile_info > p.timestamp{
    font-size: 13px;
    font-family: "Courier New", Courier, monospace;
}

.comment{
    padding-top: 1%;
}

/* stile della textbar utilizzata per mandare nuovi commenti */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
}

div.text_bar{
    display: flex;
    height: 4%;
    width: 87%;
    position: fixed !important;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    bottom: 0;
    background-color: grey;
}

div.text_bar > img {
    max-width: 30px;
    max-height: 30px;
    padding-left: 1%;
    padding-right: 1%;
}

div.text_bar > div.input_container{
    display: inline-block;
    width: 90%;
}

div.text_bar > div > input {
    resize: both;
    width: 100%;
}

div.text_bar > div.button_textbox {
    padding-left: 2%;
    padding-right: 2%;
}
div.text_bar > div > button {
}