*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left: 0;
    width: 14%;
    height: 100%;
    background-color: #062738;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: rgb(41, 96, 96);
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 8%;
    box-sizing: border-box;
    border-top: 1px solid rgba(red, green, blue, .1);
    border-bottom: 1px solid black;
    transition: .5s;
}
.sidebar div{
    padding-top:17%;
    height: 10%;
    width: 100%;
    align-items: center;
    background-color: #062738;
    text-align: center;

}
.sidebar button{
    height: 40%;
    width: 60%;
}

ul li:hover a{
    padding-left: 10%;
}
.sidebar ul a i{
    margin-right: 16px;
}

div.image_container{
    display: flex;
    justify-content: center;
    align-items: center;

}
div #center_image{
    max-width: 25%;
    max-height: 40%;
    padding-top: 2%;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
    padding-left: 16%;
    flex-wrap: wrap;
}

main > article {
    width: 100%;
    padding-top: 3%;
    
}

main > article> section > div > img {
    max-width: 30%;
    max-height: 30%;
}

main > article> section > p {
    padding-top: 1%;
    font-size: 20px;
}

img#article_image{
    max-width: 30%;
    max-height: 30%;
}

aside.right_aside{
    text-align: right;
}

div.notification_check{
    padding-top: 3%;
    padding-right: 7%;
    padding-bottom: 3%;
    text-align: right;

}
div.notification_check > label{
    font-size: 20px;
}

div.serie_title{
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
}


div.text_bar{
    height: 5%;
    width: 70%;
    position: fixed !important;
    text-align: center;
    justify-content: center;
    bottom: 4%;
    background-color: grey;
}